body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --subtitle-s2: Inter;

  /* font sizes */
  --subtitle-s2-size: 14px;
  --caption-c2-size: 12px;
  --overline-size: 11px;

  /* Colors */
  --color-whitesmoke-100: #f9fafc;
  --gray-0: #f7f9fc;
  --blue-0: #ebf0fa;
  --gray-50: #e9edf5;
  --blue-500: #2264e6;
  --gray-700: #464f60;
  --white: #fff;
  --gray-500: #687182;
  --gray-600: #5a6376;
  --indigo-0: #f0f1fa;
  --color-ghostwhite-100: rgba(245, 247, 252, 0.75);
  --indigo-500: #4f5aed;
  --gray-900: #171c26;
  --green-500: #14804a;
  --green-0: #e1fcef;
  --red-500: #d12953;
  --red-0: #faf0f3;
  --gray-300: #a1a9b8;

  /* Gaps */
  --gap-xl: 20px;
  --gap-9xs: 4px;
  --gap-11xl: 30px;
  --gap-11xs: 2px;
  --gap-20xl: 39px;
  --gap-lgi: 19px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-xs: 12px;
  --padding-3xs: 10px;
  --padding-12xs: 1px;
  --padding-4xs: 9px;
  --padding-smi: 13px;
  --padding-11xs: 2px;
  --padding-9xs: 4px;
  --padding-lg: 18px;
  --padding-7xl: 26px;
  --padding-8xl: 27px;
  --padding-4xl: 23px;
  --padding-base: 16px;
  --padding-7xs: 6px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-3xs: 10px;
  --br-12xs: 1px;
  --br-7xs: 6px;

  /* Effects */
  --light-shadow-s: 0px 0px 0px 1px rgba(152, 161, 178, 0.1),
    0px 1px 4px rgba(69, 75, 87, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);
  --sd-button-default: 0px 1px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(70, 79, 96, 0.16), 0px 2px 5px rgba(89, 96, 120, 0.1);
  --sd-button-inactive: 0px 0px 0px 1px rgba(70, 79, 96, 0.24);
}
